.callback
    background-color: white
    width: 400px
    height: 500px
    position: fixed
    top: 47%
    left: 78.5%
    &-items
        &__item
            align-items: center
            &-window
                overflow-y: auto
                width: 400px
                height: 450px
                &-msg-user
                    float: right
                    clear: both
                    margin: 5px 2px
                    max-width: 300px
                &-msg-moder
                    float: left
                    clear: both
                    margin: 5px 2px
                    max-width: 300px
                &-text
                    background-color: black
                    border-radius: 5px
                    padding: 5px 5px
                    font-size: 16px
            &-input
                height: 45px
                width: 290px
                float: left
                clear: both
            &-btn
                height: 45px
                width: 110px
