.header
    margin-top: 30px
    margin-bottom: 30px
    &-items
        display: flex
        justify-content: space-between
        align-items: center
        &__item
            &-logo
            &-links
                margin-left: 300px
                display: flex
                justify-content: space-between
                &-link
                    &-text
            &-reg
                display: flex
                justify-content: space-between
                &-blockLogin
                &-blockReg
                &-btnLogin
                &-btnReg